*{
    margin: 0;
    padding: 0;
    background-color: #28587B;
    color: #C2CAE8;
    
}

#counterID {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    margin: 2rem 1rem;
    background-color: #111D4A;
    cursor: pointer;
    padding: 13px 17px;
    font-size: 23px;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
}

.counting {
    font-size: 40px;
}